<mat-toolbar color="primary">
  <span><a routerLink="/">RamCode</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated && this.userRole == 'Teacher'">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Question</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated && this.userRole == 'Teacher'">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Create Student Accounts</a>
    </li>
    <li *ngIf="userIsAuthenticated">
     <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
