<label id="question-select-label">{{question?.title}}</label>
<mat-radio-group
  aria-labelledby="question-select-label"
  class="question-select-group"
  [(ngModel)]="selectedAnswer"
  *ngFor="let answer of answersF">
  <mat-radio-button class="question-select-button" *ngIf="answer!=null || undefined" [value]="answer">

    {{answer}}

  </mat-radio-button>
</mat-radio-group>
<div>Your answer is: {{selectedAnswer}}</div>
    <button style= "margin: 16px;" mat-raised-button (click)="checkAnswer(selectedAnswer)"color="primary" id="checkButton" *ngIf="!rightAnswer">Check Answer</button>
    <button mat-raised-button [routerLink]="''" *ngIf="rightAnswer" >Return to Home</button>
<div>This answer is: {{AnswerChecked}}  </div>








