<label id="post-select-label">{{post?.title}}</label>
<mat-radio-group
  aria-labelledby="post-select-label"
  class="post-select-group"
  [(ngModel)]="selectedAnswer"
  *ngFor="let answer of answersF">
  <mat-radio-button class="post-select-button" *ngIf="answer!=null || undefined" [value]="answer">

    {{answer}}

  </mat-radio-button>
</mat-radio-group>
<div>Your answer is: {{selectedAnswer}}</div>
<button mat-raised-button (click)="checkAnswer(selectedAnswer)"color="primary">Check Answer</button>
<div>This answer is: {{AnswerChecked}}  </div>








